<!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script id="source" language="javascript" type="text/javascript">
$(function () {
    $.plot($("#linear-graph"), {{ graph.series_json|safe }}, {{ graph.options_json|safe }});
});
</script-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
    Stocks Chart 
</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.jqChart.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.jqRangeSlider.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "themes/smoothness/jquery-ui-1.10.4.css" %}" />
    <script src="{% static "js/jquery-1.11.1.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery.mousewheel.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery.jqChart.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery.jqRangeSlider.min.js" %}" type="text/javascript"></script>
    <!--[if IE]><script lang="javascript" type="text/javascript" src="{% static "js/excanvas.js" %}"></script><![endif]-->
    
    <script lang="javascript" type="text/javascript">
        $(document).ready(function () {
            var days = [];
            var opening_prices = [];
            var closing_prices = [];
            $({{data}}).each(function() {
                days.push(this['date']);
                opening_prices.push(this['opening_price']);
                closing_prices.push(this['closing_price']);
            });
            $('#jqChart').jqChart({
                title: { text: {{ company_name }} + " Stocks Chart"},
                animation: { duration: 1 },
                shadows: {
                    enabled: true
                },
                axes: [
                    {
                        type: 'category',
                        location: 'bottom',
                        categories: days
                    }
                ],
                series: [
                    {
                        type: 'stackedColumn',
                        title: 'opening price',
                        data: opening_prices, 
                        stackedGroupName: 'Group1'
                    },
                    {
                        type: 'stackedColumn',
                        title: 'closing price',
                        data: closing_prices, 
                        stackedGroupName: 'Group2'
                    },
                ]
            });
        });
    </script>

</head>
<body>
    <div>
        <div id="jqChart" style="width: 500px; height: 300px;">
        </div>
    </div>
</body>
</html>

